@model Leaf2Google.Models.Google.SessionInfo

@{
    @if(Model != null)
    {
        <div class="row">

            <div class="col col-12 col-md-8 overflow-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Last Execute</th>
                            <th scope="col">Last Query</th>
                            <th scope="col">Deleted</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var auth in Model.auths.OrderBy(auth => auth.Deleted))
                        {
                            <tr>
                                <td>@(auth.AuthId)</td>
                                <td>@(auth.LastExecute)</td>
                                <td>@(auth.LastQuery)</td>
                                <td>@(auth.Deleted.HasValue ? "Yes" : "No")</td>
                                @if (!auth.Deleted.HasValue)
                                {
                                    <td><button data-itemid="@(auth.AuthId)" type="button" class="btn btn-danger" id="deleteAuth"><i class="bi bi-trash-fill"></i></button></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col col-12 col-md-4 position-relative map-height">
                <div id="map" class="rounded"></div>
            </div>
        </div>
    }
}