<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Leaf2Google</title>
    <link async defer rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link async defer rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css" integrity="sha512-5PV92qsds/16vyYIJo3T/As4m2d8b6oWYfoqV+vtizRB6KhF1F9kYzWzQmsO6T3z3QG2Xdhrx7FQ+5R1LiQdUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link async rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css" />
    <link rel="stylesheet" href="~/Leaf2Google.styles.css" asp-append-version="true" />
    <link async defer rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Leaf2Google</a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
                <div class="ms-auto me-2">
                    @await Component.InvokeAsync("CarSelector",
                        new {
                            sessionId = (Guid?)ViewBag?.SessionId
                        }
                    )
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="d-flex">
            <div class="m-auto w-100">
                <div class="mx-auto">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>

    <footer class="shadow-lg footer text-muted">
        <div class="container">
            &copy; 2022 - Leaf2Google - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script async defer src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script async id="mapbox" src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
    <script async id="captcha" src="https://www.google.com/recaptcha/api.js"></script>
    <script async defer src="~/js/site.js" asp-append-version="true"></script>

    <script>
        $('#mapbox').on('load', function () {
            mapboxgl.accessToken = '@(ViewBag?.MapBoxKey)';
        });
        const api = {
            'toaster': '@(Url.Action("Create", "Toast"))',
            'car': {
                'action': '@(Url.Action("Action", "Car"))'
            },
            'auth': {
                'delete': '@(Url.Action("Delete", "Auth"))'
            }
        };
    </script>

    @await RenderSectionAsync("Scripts", required: false)

    @* TODO: Bundle *@
    @foreach (var script in (Html.ViewContext.HttpContext.Items["ComponentScripts"] as HashSet<string> ?? new HashSet<string>()))
    {
    <script async defer src="@script" asp-append-version="true"></script>
    }
</body>
</html>
